<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">AI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reddit_home">Reddit Scrapper</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/text_classifier">Text Classifier</a>
        </li>  
      </ul>
      
      <ul class="navbar-nav ms-auto">
        <button type="button" onclick='window.location.href="/begin_shutdown"; window.open("", "_self"); window.close(); '  class="btn btn-danger">End AI Text Analyzer</button>
      </ul>
      
  
    </div>
  </div>
</nav>


